<%- include('./includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= receiver %></h3>
  <p><%= content %></p>
</div>

<%- include('./includes/footer.ejs') %>